body{
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url(../../asserts/World_shipment.jpg);
}

div.shipment, div.vshipment, div.dds, div.ddsadmin {
    background-color:#F1FAFC;
    padding: 2.5%;
    padding-bottom: 1%;
    border-radius: 10px;
    display:none;
}

div.ddsadmin{
    background-color:#000000;
}

.header {
    font-stretch: wider;
    color: #BFDCE5;
    margin-right: 5%;
    opacity: 90%;
    text-align: right;
}

.card {
    margin: auto;
    margin-top: 10%;
    width: 50%;
    opacity: 90%;
    background-color: #F1FAFC;
    box-shadow: rgb(0 0 0 / 46%) 0px 4px 12px;
    padding: 2.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    text-align: center;
}

#shipbutton, #vshipbutton, #ddsbutton {
    margin: auto;
    height: 40px;
    background-color: #75E6DA;
    border-width: 0px;
    font-size:x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    border-radius: 10px;
    color: #171b1b;
}

#shipbutton:hover, #vshipbutton:hover, #ddsbutton:hover {
    margin: auto;
    height: 40px;
    background-color: #A4E8E0;
    border-width: 0px;
    font-size:x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    border-radius: 10px;
    color: #4C5270;
}