@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: #2e7be0;
}

.card {
    margin: auto;
    margin-top: 5.5%;
    width: 30%;
    background-color:#fff;
    box-shadow: rgb(0 0 0 / 46%) 0px 4px 12px;
    padding: 2.5%;
    padding-bottom: 1%;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card .card-title{
    font-size:23px;
    text-align: center;
}

.card .button{
    height: 38px;
    width: 100%;
    background-color: rgba(228, 51, 119, 0.884);
    border-width: 0px;
    font-size: medium;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    border-radius: 10px;
    color: #fff;
}

.card .button:hover{
    background-color:rgba(231, 206, 233, 0.774);
    color: #2e2323de;
}

.card .link{
    color:rgba(228, 51, 119, 0.884);
    text-align-last: right;
    font-size: 12.5px;
}

.container{
    text-align: center;
}

.error-message{
    color: #e24b37;
    font-size: 12px;
    display: none;
}

/* Captcha settings */

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

#textBox {
    height: 30px;
}

#submitButton {
    margin-top: 10%;
    margin-bottom: 5%;
    background-color:rgba(228, 51, 119, 0.884);
    border: 0px;
    border-radius: 10px;
    color: #fff;
}

#captcha {
    height: 80%;
    width: 80%;
    font-size: 30px;
    letter-spacing: 3px;
    margin: auto;
    display: block;
}

#refreshButton {
    background-color:  rgba(228, 51, 119, 0.884);
    border: 0px;
    border-radius: 10px;
    color: #fff;
}

.incorrectCaptcha {
    color:#0c0c0c;
}

.correctCaptcha {
    color: #0c0c0c;
}

@media only screen and (max-width: 500px) {
    .card {
        width: 50%;
        margin-top: 30%;
    }
  }