<!Doctype HTML>
<html lang="en">
    <title>User's Collection</title>
    <head>
        <!-- calling Bootstrap and API packages into HTML pages -->
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/UserCollection.css">
        <link rel="stylesheet" href="../static/css/Home.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    </head>
    <!-- checks if the token is valid -->
    <body onload ="checkValidity()">
        <div id="sidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="../templates/Dashboard.html">Home</a>
            <a href="../templates/Shipments.html">Shipment Page</a>
            <a href="../templates/UserCollection.html">View Shipments</a>
            <div class="ddsadmin">
                <a href="../templates/DeviceDataStream.html">Device Data Stream</a>
            </div>
            <a href="#" button type="button" onclick="logout()">Logout</a>
        </div>
        <div id="main">
            <button class="openbtn" onclick="openNav()">☰</button>
        </div>
        <div class="card">
            <div class="col-auto">
                <button type="submit" class="button" id="btn" onclick="usergetShipdata()">Load My Data</button> <br>
                <div class="allshipmentdata">
                    <button type="submit" class="button" id="btn" onclick="getShipData()">Load All Data</button>
                </div>
            </div>
            <table class="styled-table">
                <caption>Retrieves Shipment Data</caption>
                <thead>
                    <tr>
                        <th>Shipment/Invoice Number</th>
                        <th>PO Number</th>
                        <th>Device ID</th>
                        <th>Goods Type</th>
                        <th>Route Details</th>
                        <th>Expected Delivery Date</th>
                    </tr>
                </thead>
                <tbody id = "data">
                </tbody>
            </table>
            <script src="../static/js/UserCollection.js"></script>
            <script type="text/javascript" src="../static/js/Home.js"></script>
        </div>
    </body>
</html>
